cvxpy==1.1.11
PYPOWER==5.1.15
numpy==1.19.2
scipy
-f https://download.pytorch.org/whl/torch_stable.html
torch==1.8.1+cu102
-f https://download.pytorch.org/whl/torch_stable.html
torchvision==0.9.1+cu102
-f https://download.pytorch.org/whl/torch_stable.html
torchaudio===0.8.1
tensorboard===2.4.1
tensorflow
pandas
matplotlib
scikit-learn
keras